<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @blog.image_id %>
</p>

<p>
  <% if @blog.image.present? %>
    <%= image_tag attachment_url(@blog, :image, :fill, 100, 100), alt: "post image", class: "" %>
  <% else %>
    nessuna immagine
  <% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content short:</strong>
  <%= @blog.content_short %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
<%= link_to url_for(blogs_path) do %>
  CZO
<% end %>
