<section id="content">

  <div class="content-wrap">

    <%= render "homepage/index/breaking_news" %>

    <div class="container clearfix">

      <div class="row">

        <div class="col-md-8 bottommargin">

          <div class="col_full bottommargin-lg">
            <%= render "homepage/index/fslider" %>
          </div>

          <div class="clear"></div>

          <div class="col_full bottommargin-lg clearfix">

            <div class="fancy-title title-border">
              <h3>Calcio</h3>
            </div>

            <%= render "homepage/index/ipost1" %>

            <div class="clear"></div>

            <div class="col_half nobottommargin">

              <%= render "homepage/index/spost1" %>

              <%= render "homepage/index/spost2" %>

            </div>

            <div class="col_half nobottommargin col_last">

              <%= render "homepage/index/spost3" %>

              <%= render "homepage/index/spost4" %>

            </div>

          </div>

          <div class="bottommargin-lg">
            <img src="images/magazine/ad.jpg" alt="Ad" class="aligncenter notopmargin nobottommargin">
          </div>

          <div class="col_full bottommargin-lg clearfix">

            <div class="fancy-title title-border">
              <h3>Altri Sports</h3>
            </div>

            <%= render "homepage/index/ipost2" %>

            <div class="clear"></div>

            <div class="col_half nobottommargin">

              <%= render "homepage/index/spost5" %>

              <%= render "homepage/index/spost6" %>

            </div>

            <div class="col_half nobottommargin col_last">

              <%= render "homepage/index/spost7" %>

              <%= render "homepage/index/spost8" %>

            </div>

          </div>

          <div class="fancy-title title-border">
            <h3>News in Pictures</h3>
          </div>

          <%= render "homepage/index/masonry_thumbs" %>

          <div class="col_full nobottommargin clearfix">

            <div class="fancy-title title-border">
              <h3>Other News</h3>
            </div>

            <div class="col_one_third">
              <%= render "homepage/index/ipost3" %>
            </div>

            <div class="col_one_third">
              <%= render "homepage/index/ipost4" %>
            </div>

            <div class="col_one_third col_last">
              <%= render "homepage/index/ipost5" %>
            </div>

            <div class="clear"></div>

            <div class="col_one_third nobottommargin">
              <%= render "homepage/index/ipost6" %>
            </div>

            <div class="col_one_third nobottommargin">
              <%= render "homepage/index/ipost7" %>
            </div>

            <div class="col_one_third nobottommargin col_last">
              <%= render "homepage/index/ipost8" %>
            </div>

          </div>

        </div>

        <div class="col-md-4">

          <div class="line hidden-lg hidden-md"></div>

          <%= render "homepage/index/sidebar_widgets" %>

        </div>

      </div>

    </div>

  </div>

</section><!-- #content end -->
