<div class="postcontent nobottommargin clearfix">

  <!-- Posts
  ============================================= -->
  <div id="posts" class="small-thumbs">

    <%= render "mocks/blog/post1" %>

    <%= render "mocks/blog/post2" %>

    <%= render "mocks/blog/post3" %>

    <%= render "mocks/blog/post4" %>

    <%= render "mocks/blog/post5" %>

    <%= render "mocks/blog/post6" %>

    <%= render "mocks/blog/post7" %>

    <%= render "mocks/blog/post8" %>

  </div><!-- #posts end -->

  <!-- Pagination
  ============================================= -->
  <ul class="pager nomargin">
    <li class="previous"><a href="#">&larr; Older</a></li>
    <li class="next"><a href="#">Newer &rarr;</a></li>
  </ul><!-- .pager end -->

</div><!-- .postcontent end -->
